</br>
<h3><strong>Question Details</strong></h3>
<p>Question was asked on: <%= @question.created_at %><p>
<h3>Question Title: </h3><%= @question.title %></p>
<h3>Ministry: </h3><%= @question.ministry %></p>
<h3>Question: </h3><p><%= @question.text %></p>

