</br>
<h3><strong>Question Details</strong></h3>
<p>Question was asked on: <%= @question.created_at %><p>
<p><strong>Question Title: </strong><%= @question.title %></p>
<p> Will the Minister of <%= @question.ministry.upcase %> be pleased to state: </br> <%= @question.text %></p>


