<h1></h1>

<%= simple_form_for @question do |f| %>
    <%= render "#{@question.current_step}", :f => f %>
  	<%= f.button :submit, 'Next' %>
  </br>
</br>
   <%= f.submit "Back", :name => "back_button" unless @question.first_step? %>
<% end %>