<% if @tracking_id.present? and @question.present? %>

	<img id="receipt-check-icon" src="/assets/checkmarkicon.png">
	<h1>Thank you! Your question has been submitted.</h1>
	<p>
		The tracking number for your question is <strong><%= @tracking_id %></strong>. Use it to track the status of your question.
		<br>
		<% if @question.email.present? %>
			An email has been sent to you with your tracking number as well.
		<% else %>
			Because you did not provide an email ID, please write down your tracking number for future reference.
		<% end %>
	</p>

<% else %>
	
	<h1>An error has occurred</h1>

<% end %>

<div id="spacing"></div>
<%= image_tag("indianparliament.jpg", class: "aap-track") %>
<p><%= link_to "Return to home", root_path %></p>