<div class="about-text">
	<p>
		Lok Sabha, or the lower house of the Indian parliament, has 543 representatives from all across the country. The first hour of a sitting session of India's Lok Sabha is devoted to questions that Members of Parliament raise about any aspect of administrative activity and is called the Question Hour. Question Hour holds a special place in Indian politics. Several corruption scandals have been unearthed from questions asked during the Question Hour. Questions are pointed and the ministry answering the question can neither avoid the question nor lie as either of those result in a contempt of the parliament.
	</p>
	<br>
	<p>
		Until now, there was no way for Indian citizens to ask questions during the Question Hour. Aam Aadmi Party, the ruling party in Delhi, which also has 4 MPs in the National Parliament, proposed a structured question maker for the parliament question hour where ordinary citizens can submit their questions to one of their 4 members of parliament who can then raise the asked question during the Question Hour. The form will be	used by the citizens of India to submit their questions to the government using the voice of the common man.
	</p>
	<p>
		<%= link_to 'Read more about Question Hour in Lok Sabha', 'http://www.parliamentofindia.nic.in/ls/intro/p6.htm', style: 'text-decoration: underline;', target: :_blank %>
	</p>
</div>

<div id="spacing"></div>
<%= image_tag("indianparliament.jpg", class: "aap-track") %>
<p><%= link_to "Return to home", root_path %></p>