<p>
Question Hour is the first hour of a sittng session of India's parliament devoted to
questions that Members of Parliament raise about any aspect of administrative activity.
The concerned Minister is required by law to answer to the Parliament. Aam Aadmi
Party, the ruling party in Delhi, which also has 4 MPs in the National Parliament
proposed a structured question maker for the parliament question hour where ordinary
citizens can submit their questions to one of their 4 members of parliament who can
then raise the asked question during the Question Hour. The form will be
used by hundreds of thousands of people to submit their questions to the government
using the voice of the common man.
</p>