<h1></h1>

<div class="text-center">
	<h1 class="mbxs">The world’s platform for change</h1>
	<div class="type-large">121,937,433&nbsp;people have asked a question.&nbsp;
	</div>
	<a href="/start-a-petition" class="btn btn-action btn-big mvl">Ask a Question</a>
</div>