<h1></h1>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="text-center">
	<h1 class="mbxs">Lok Sabha Question Hour</h1>
	<div class="type-large"><%=Question.count %> people have asked a question.&nbsp;
	</div>
	<a role="button" href="/questions/new" class="btn btn-default btn-lg">
  	<span class="glyphicon glyphicon-star" aria-hidden="true"></span> Ask a Question
  </a>
  <a role="button" href="/questions/show" class="btn btn-default btn-lg">
  	<span class="glyphicon glyphicon-list" aria-hidden="true"></span> Read Questions
  </a>
</div>


<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();   
});
</script>