Thank you for submitting your question. Your unique tracking ID is <strong><%= @question.tracking_id %></strong>.
<br>
<br>
You may use your tracking ID check the status of your question at any time on <a href= "question-hour-form.herokuapp.com">question-hour-form.herokuapp.com</a>.