// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1#title {
	font-family: AvenirNext-Bold;
	font-size: 43px;
	color: #4A4A4A;
	letter-spacing: 4px;
	line-height: 96px;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%) translateY(-35%);
}

div#count {
	font-family: AvenirNext-Medium;
	font-size: 18px;
	color: #4A4A4A;
	line-height: 25px;
	position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-50%) translateY(-30%);
}

.ask-button {
	border: 2px solid #808080;
	background: rgba(0,0,0,0);
	padding: 12px;
	border-radius: 6px;
	font-family: AvenirNext-Medium;
	letter-spacing: 2px;
	font-size: 20px;
	color: #808080;
	line-height: 25px;
	height: 8%;
	width: 20%;
	position: absolute;
    top: 45%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.form-header {
	text-align: center;
	margin-top: 7px;
	margin-bottom: 0px;
	border-bottom: none;
	padding-bottom: 3px;
}

.form-subtext {
	text-align: center;
	margin-bottom: 25px;
	border-bottom: 1px solid #d3d3d3;
}

.popover-image {
	max-width: 250px;
}

.parsley-required {
	color: red;
}

.parsley-type {
	color: red;
}

.icon {
	width: 45px;
	height: 45px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.confirmation-text {
	text-align: justify;
	width: 240px;
	margin: 0 auto;
	font-family: "Times New Roman";
	word-wrap: break-word;
}

.confirmation-text p {
	margin: 5px;
}

.confirmation-title-wrapper {
	text-align: center;
}

body {
   text-align:center; /* this is required for old versions of IE */
}

.btn-success {
	margin-top: 10px; 
}

// PARSLEY CSS

body {
  color: #111111;
}
.row {
  margin-top: 10px;
}
.code-block {
  margin-top: 20px;
}
.hidden {
  display: none;
}
.row h2 {
  color: #FF851B;
}
.row p {
  text-align: justify;
}
.form-section {
  padding-left: 15px;
  display: none;
}
.form-section.current {
  display: inherit;
}
.validate {
  margin-top: 10px;
}
h4 {
  margin-bottom: 10px;
}
.invalid-form-error-message {
  margin-top: 10px;
  padding: 5px;
}
.invalid-form-error-message.filled {
  border-left: 2px solid red;
}
.btn-info, .btn-default {
  margin-top: 10px;
}
html.codepen body {
  margin: 1em;
}
