// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1#title {
	font-family: AvenirNext-Bold;
	font-size: 43px;
	color: #4A4A4A;
	letter-spacing: 4px;
	line-height: 96px;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%) translateY(-35%);
}

div#description {
	font-family: AvenirNext-Medium;
	font-size: 18px;
	color: #4A4A4A;
	line-height: 25px;
	position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-50%) translateY(-30%);
}

div#count {
	font-family: AvenirNext-Bold;
	font-size: 18px;
	color: #4A4A4A;
	line-height: 25px;
	position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

button#ask {
	border-color: #FFFFFF;
	background: #ADD8E6;
	border-radius: 6px;
	font-family: AvenirNext-Medium;
	letter-spacing: 2px;
	font-size: 20px;
	color: #FFFFFF;
	line-height: 25px;
	height: 8%;
	width: 20%;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}