// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1#title {
	font-family: AvenirNext-Bold;
	font-size: 48px;
	color: #4A4A4A;
	letter-spacing: 3px;
	line-height: 66px;
}

div#description {
	font-family: AvenirNext-Medium;
	font-size: 18px;
	color: #4A4A4A;
	line-height: 25px;
}

div#count {
	font-family: AvenirNext-Bold;
	font-size: 18px;
	color: #4A4A4A;
	line-height: 25px;
}

div#ask {
	background: #4A90E2;
	border-radius: 10px;
}

span#asktext {
	font-family: AvenirNext-Bold;
	font-size: 18px;
	color: #FFFFFF;
	line-height: 25px;
}

.form-header {
	text-align: center;
	margin-bottom: 0px;
	border-bottom: none;
	padding-bottom: 3px;
}

.form-subtext {
	text-align: center;
	margin-bottom: 25px;
	border-bottom: 1px solid #d3d3d3;
}

.popover-image {
	max-width: 250px;
}

// PARSLEY CSS

body {
  color: #111111;
}
.row {
  margin-top: 10px;
}
.code-block {
  margin-top: 20px;
}
.hidden {
  display: none;
}
.row h2 {
  color: #FF851B;
}
.row p {
  text-align: justify;
}
.form-section {
  padding-left: 15px;
  border-left: 2px solid #FF851B;
  display: none;
}
.form-section.current {
  display: inherit;
}
.validate {
  margin-top: 10px;
}
h4 {
  margin-bottom: 10px;
}
.invalid-form-error-message {
  margin-top: 10px;
  padding: 5px;
}
.invalid-form-error-message.filled {
  border-left: 2px solid red;
}
.btn-info, .btn-default {
  margin-top: 10px;
}
html.codepen body {
  margin: 1em;
}
