<!DOCTYPE html>
<html>
<head>
  <title>Question Hour Form</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
	 <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>

<body>
  <header class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
          <a class="navbar-brand" href="/home/index/">Home</a>
          <a class="navbar-brand" href="/home/about/"><span class="icon">About</span></a>
      </div>
  </header>

  <%= yield %>
    
</body>
</html>
